@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap');

.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  font-family: 'Fira Sans', sans-serif;
}

.row_tryboard {
  border: 1px solid grey;
  margin: 10px;
  padding: 10px;
}

.suucess {
  background-color: #67a561;
}

.error {
  background-color: #E42819;
}

.navbar-content {
  width: 100%;
  align-items: center;
  background: #fff;
  display: flex;
  height: 3rem;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  margin-right: 20px;
  margin-left: 20px;
}

.container-board {
  display: flex;
  width: 100%;
  max-width: 29rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

.container-input {
  display: flex;
  width: 100%;
  max-width: 29rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

.navbar-container {
  border-bottom: 1px solid #E2E8F0;
  margin-bottom: 40px;
}

.container-board-answers {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.container-name {
  width: 100%;
  flex-grow: 1;
  text-align: center;
  padding-bottom: 0.5rem;

}

.name-streamer {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  height: 100%;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.continer-answer {
  display: flex;
  width: 20%;
  flex-shrink: 0;
  justify-content: center;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding-top: 20px;
}

.default-answer {
  display: flex;
  width: 20%;
  flex-shrink: 0;
  justify-content: center;
  font-size: 15px;
  line-height: 1.75rem;
  padding-top: 20px;
}


.answer {
  display: flex;
  width: 100%;
  overflow: hidden;
  margin-left: 0.65rem;
  margin-right: 0.65rem;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  border-radius: 9999px;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

.color-answer {
  background-color: #f1f1f1;
  font-size: 15px;
}

.bg-slate-400 {
  opacity: 1;
  background-color: rgb(148 163 184/var(--opacity));
}

.width-full {
  width: 100%;
}

.stats-info {
  font-size: 32px;
}

.stats-container {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
  border: 1px solid white;
}

.item-stats {
  display: flex;
  width: 5%;
  margin: 0px 10px;
}

.stats-percentage {
  display: flex;
  align-items: center;
}

.progress-bar {
  width: 80%;
}

.input-add-streamer {
  width: 100%;
  border-radius: 10px;
  height: 40px;
  font-size: 20px;
}

.before-start {
  margin: 10px;
}

.button-icon {
  background: none;
  border: none;
}

.img-start {
  width: 200px;
}

.text-before-start {
  font-size: 25px;
}

@media (min-width: 640px) {
  .sm\:mt-6 {
    margin-top: 1.5rem;
  }
}

@media only screen and (max-device-width: 414px) {
  .container-board {
    width: 100%;
  }

  .container-input {
    width: 95%;
  }

  .container-mb {
    margin: 10px;
  }
}

@media only screen and (max-device-width: 280px) {
  .answer {
    font-size: 16px;
    margin-left: 0.05rem;
    margin-right: 0.05rem;
  }

  .container-board {
    width: 100%;
  }

  .container-input {
    width: 95%;
  }

  .container-mb {
    margin: 1px;
  }

  .default-answer {
    font-size: 13px;
  }

}